<div class="dashboard row clearfix" ng-init="dataRefresh()">
	<div class="most-recent-game wgrid-12of12">
		<section class="clearfix">
			<div class="winner">
				<img src="{{mostRecentGame.winnerAvatarUrl}}">
				<h4>{{mostRecentGame.winnerName | shortFullName}}</h4>
			</div>
			<div class="time-score">
				<p>{{mostRecentGame.date | smartDate}}</p>
				<p class="score"><span>{{mostRecentGame.winnerScore}}</span> - {{mostRecentGame.loserScore}}</p>
			</div>			
			<div class="loser">
				<img src="{{mostRecentGame.loserAvatarUrl}}">
				<h4>{{mostRecentGame.loserName | shortFullName}}</h4>
			</div>
		</section>
	</div>
	<div class="dashboard-breakdown">
		<div class="left-column wgrid-8of12">
			<div class="row">
				<section class="elo-ranking wgrid-3wAny marg-l-0">
					<div class="section-header">
						<h3>Ranking <span class="arrow">&#10140;</span></h3>
					</div>
					<ol>
						<li ng-repeat="player in eloRanking">
							<p>{{player.name}}</p>
						</li>
					</ol>
				</section>
				<section class="recent-games wgrid-5wAny marg-r-0">
					<div class="section-header">
						<h3>Recent Games <span class="arrow">&#10140;</span></h3>
					</div>
					<ul>
						<li ng-repeat="game in recentGames">
							<div class="recent-game clearfix">
								<div class="game-info">
									<p>{{game.date | smartDate}}</p>
									<p><span class="winner-name">{{game.winnerName | shortFullName}}</span> won against <span class="loser-name">{{game.loserName | shortFullName}}</span></p>
								</div>
								<div class="game-score">
									<span>{{game.winnerScore}} - {{game.loserScore}}</span>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
			<div class="row">
				<section class="weekly-standings  wgrid-8wAny">
					<table>
						<thead>
							<th class="name">Weekly Standings</th>
							<th class="games">Games</th>
							<th class="wins">Wins</th>
							<th class="losses">Losses</th>
							<th class="win-rate">Win Rate</th>
						</thead>
						<tr ng-repeat="playerStats in weeklyStandings">
							<td class="name">{{playerStats.name | shortFullName}}</td>
							<td class="games">{{playerStats.gameCount}}</td>
							<td class="wins">{{playerStats.wins}}</td>
							<td class="losses">{{playerStats.losses}}</td>
							<td class="win-rate">{{playerStats.winRate | number : 1}}</td>
						</tr>
					</table>
				</section>	
			</div>
		</div>
		<div class="right-column wgrid-4of12 marg-r-0">
			<section class="random-stats">
				<div class="section-header">
					<h3>Player Stats</h3>
				</div>
				<div class="stat win-streak">
					<h4>Longest winning streak</h4>
					<p><span>{{winStreak.streak}}</span> {{winStreak.name | shortFullName}}</p>
				</div>
				<div class="stat losing-streak">
					<h4>Most consecutive losses</h4>
					<p><span>{{losingStreak.streak}}</span> {{losingStreak.name | shortFullName}}</p>
				</div>
				<div class="stat sweeping-score">
					<h4>Largest sweeping score</h4>
					<p class="score"><span class="winner-score">{{sweepingScore.winnerScore}}</span> - {{sweepingScore.loserScore}}</p>
					<p class="players"><span class="winner-name">{{sweepingScore.winnerName | shortFullName}}</span> vs. <span class="loser-score">{{sweepingScore.loserName | shortFullName}}</span></p>
				</div>
				<div class="stat total-games-played">
					<h4>Total games played</h4>
					<p class="total-games">{{totalGames.gameCount}}</p>
				</div>
			</section>
		</div>
	</div>
</div>