<div class="dashboard row clearfix" ng-init="dataRefresh()">
	<div class="most-recent-game wgrid-12of12">
		<section class="clearfix wgrid-8of12">
			<div class="winner">
				<img src="{{mostRecentGame.winnerAvatarUrl}}">
				<h4><a class="name-large" href="#/user/{{mostRecentGame.winnerUserId}}">{{mostRecentGame.winnerName | shortFullName}}  <span class="star"></span></a></h4>
			</div>
			<div class="time-score">
				<p class="time-regular">{{mostRecentGame.date | smartDate}}</p>
				<p class="score-large"><span>{{mostRecentGame.winnerScore}}</span> - {{mostRecentGame.loserScore}}</p>
			</div>			
			<div class="loser">
				<img src="{{mostRecentGame.loserAvatarUrl}}">
				<h4><a class="name-large" href="#/user/{{mostRecentGame.loserUserId}}">{{mostRecentGame.loserName | shortFullName}}</a></h4>
			</div>
		</section>
	</div>
	<div class="dashboard-breakdown">
		<div class="left-column wgrid-8of12">
			<div class="row">
				<section class="section elo-ranking wgrid-3wAny marg-l-0">
					<div class="section-header">
						<h3>Ranking <a href="#/player-stats"><span class="arrow"></span></a></h3>
					</div>
					<ol>
						<li ng-repeat="player in eloRanking">
							<p><a href="#/user/{{player.userId}}">{{player.name | shortFullName}} <span ng-class="{star:$first}"></span></a></p>
						</li>
					</ol>
				</section>
				<section class="section recent-games wgrid-5wAny marg-r-0">
					<div class="section-header">
						<h3>Recent Games <a href="#/game-history"><span class="arrow"></span></a></h3>
					</div>
					<ul>
						<li ng-repeat="game in recentGames">
							<div class="recent-game clearfix">
								<div class="game-info">
									<p class="time-regular">{{game.date | smartDate}}</p>
									<p><span class="winner-name"><a href="#/user/{{game.winnerUserId}}">{{game.winnerName | shortFullName}}</a></span> won against <span class="loser-name"><a href="#/user/{{game.loserUserId}}">{{game.loserName | shortFullName}}</a></span></p>
								</div>
								<div class="game-score">
									<span>{{game.winnerScore}} - {{game.loserScore}}</span>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
			<div class="row">
				<section class="section weekly-standings wgrid-8wAny">
					<table>
						<thead>
							<th class="name">Weekly Standings</th>
							<th class="games">Games</th>
							<th class="wins">Wins</th>
							<th class="losses">Losses</th>
							<th class="win-rate">Win Rate</th>
						</thead>
						<tr ng-repeat="playerStats in weeklyStandings">
							<td class="name"><a href="#/user/{{playerStats.userId}}">{{playerStats.name | shortFullName}}</a></td>
							<td class="games">{{playerStats.gameCount}}</td>
							<td class="wins">{{playerStats.wins}}</td>
							<td class="losses">{{playerStats.losses}}</td>
							<td class="win-rate">{{playerStats.winRate | winRate}}</td>
						</tr>
					</table>
				</section>	
			</div>
		</div>
		<div class="right-column wgrid-4of12 marg-r-0">
			<section class="section random-stats">
				<div class="section-header">
					<h3>Player Stats <a href="#/player-stats"><span class="arrow"></span></a></h3>
				</div>
				<div class="stat streak win-streak clearfix">
					<div class="streak-left">
						<span class="arrow"></span>
					</div>
					<div class="streak-right">
						<h4>Longest winning streak</h4>
						<p><span>{{winStreak.streak}}</span> <a class="uppercase" href="#/user/{{winStreak.userId}}">{{winStreak.name | shortFullName}}</a></p>
					</div>
				</div>
				<div class="stat streak losing-streak clearfix">
					<div class="streak-left">
						<span class="arrow"></span>
					</div>
					<div class="streak-right">
						<h4>Most consecutive losses</h4>
						<p><span>{{losingStreak.streak}}</span> <a class="uppercase" href="#/user/{{losingStreak.userId}}">{{losingStreak.name | shortFullName}}</a></p>
					</div>
				</div>
				<div class="stat sweeping-score">
					<h4>Largest sweeping score</h4>
					<p class="score"><span class="winner-score">{{sweepingScore.winnerScore}}</span> - {{sweepingScore.loserScore}}</p>
					<p class="players"><span class="winner-name"><a href="#/user/{{sweepingScore.winnerUserId}}">{{sweepingScore.winnerName | shortFullName}}</a></span> vs. <span class="loser-score"><a href="#/user/{{sweepingScore.loserUserId}}">{{sweepingScore.loserName | shortFullName}}</a></span></p>
				</div>
				<div class="stat total-games-played">
					<h4>Total games played</h4>
					<p class="total-games">{{totalGames.gameCount}}</p>
				</div>
			</section>
		</div>
	</div>
</div>