<div class="game-history row clearfix" ng-init="init()">
	<div class="container wgrid-12of12">
		<div class="row header">
			<h2>Game History</h2>
		</div>
		<div class="row game-container">
			<div class="game wgrid-4of12" ng-repeat="game in gameHistory">
				<div class="row">
					<p class="date">{{game.date | smartDate}}</p>
				</div>
				<div class="row winner">
					<div class="player-info">
						<a href="#/user/{{game.winnerUserId}}"><img ng-src="{{game.winnerAvatarUrl}}" alt="avatar"/><span class="player-name">{{game.winnerName | shortFullName}}</span></a>
						<span class="star"></span>
						<span class="player-score">
							{{game.winnerScore}}
						</span>
					</div>
				</div>
				<div class="row loser">
					<div class="player-info">
						<a href="#/user/{{game.loserUserId}}"><img ng-src="{{game.loserAvatarUrl}}" alt="avatar"/><span class="player-name">{{game.loserName | shortFullName}}</span></a>
						<span class="player-score">
							{{game.loserScore}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>