<div class="game-history row clearfix" ng-init="init()">
	<h2>Game History</h2>
	<section class="section wgrid-12of12 wgrid-4of4 wgrid-8of8">
		<div class="section-header">
			<h3>Recent Games</h3>
		</div>
		<ul>
			<li ng-repeat="game in gameHistory">
				<div class="recent-game clearfix">
					<div class="game-info">
						<p>{{game.date | smartDate}}</p>
						<p><span class="winner-name"><a href="#/user/{{game.winnerUserId}}">{{game.winnerName | shortFullName}}</a></span> won against <span class="loser-name"><a href="#/user/{{game.loserUserId}}">{{game.loserName | shortFullName}}</a></span></p>
					</div>
					<div class="game-score">
						<span>{{game.winnerScore}} - {{game.loserScore}}</span>
					</div>
				</div>
			</li>
		</ul>
	</section>	
</div>