<div class="input-score row" ng-init="init()">
	<div class="container wgrid-10of12">
		<div class="row">
			<div class="form-container">
				<h3>Match details</h3>
				<form>
					<div class="half winner wgrid-5of12 marg-l-0">
						<div class="select-container wgrid-4of12">
							<img ng-src="{{winner.avatarUrl}}"/>
							<select ng-model="winner" ng-options="user.name for user in team" ng-init="form.type=typeOptions[0].value">
								<option style="display:none" value="0">Select a Player</option>
							</select>
						</div>
						<div class="point-input-container wgrid-4of12">
							<label for="winnerName">Winning score
								<input class="player-score" min="0" max="99" ng-model="winner.score" ng-init="winner.score=21" type="number" id="winnerName" name="winnerName"/>
							</label>
						</div>
					</div>
					<div class="half loser wgrid-5of12 marg-r-0">
						<div class="select-container wgrid-4of12">
							<img ng-src="{{loser.avatarUrl}}"/>
							<select ng-model="loser" ng-options="user.name for user in team" ng-init="form.type=typeOptions[0].value">
								<option style="display:none" value="0">Select a Player</option>
							</select>
						</div>				
						<div class="point-input-container wgrid-4of12">
							<label for="loserName">Loser Score
								<input class="player-score" min="0" max="99" ng-model="loser.score" ng-init="loser.score=0" type="number" id="loserName" name="loserName"/>
							</label>
						</div>
				
					</div>	
					<button class="submit-score" ng-click="submitScore()">Submit match ></button>
				</form>
			</div>
		</div>
	</div>
</div>