<div class="input-score row" ng-init="init()">
	<div class="container wgrid-10of12">
		<div class="row">
			<div class="form-container">
				<h3>Match details</h3>
				<form name="submitScore" ng-submit="submitScoreNow(submitScore)" novalidate>
					<div class="half winner wgrid-5of12 marg-l-0">
						<div class="select-container wgrid-4of12">
							<img ng-src="{{winner.avatarUrl}}"/>
							<select ng-options="user.name for user in team" name="winnerName" ng-model="winner" ng-required="true">
								<option value="" disabled>Winner</option>
							</select>
						</div>
						<div class="point-input-container wgrid-4of12">
							<label for="winnerScore">Winner score
								<input class="player-score" min="21" max="99" name="winScore" ng-model="winnerScore" type="number" id="winnerScore" name="winnerScore" ng-required="true"/>
							</label>
						</div>
					</div>
					<div class="half loser wgrid-5of12 marg-r-0">
						<div class="select-container wgrid-4of12">
							<img ng-src="{{loser.avatarUrl}}"/>
							<select name="loserName" ng-model="loser" ng-options="user.name for user in team" ng-required="true">
								<option value="" disabled>Loser</option>
							</select>
						</div>				
						<div class="point-input-container wgrid-4of12">
							<label for="loserScore">Loser Score
								<input class="player-score" min="0" max="99" name="lossScore" ng-model="loserScore" type="number" id="loserScore" name="loserScore" ng-required="true"/>
							</label>
						</div>
				
					</div>	
					<button type="submit" class="submit-score" ng-class="{'disabled' : submitScore.winnerName.$pristine || submitScore.loserName.$pristine}" ng-disabled="submitScore.$pristine || submitScore.$invalid || submitScore.winnerName.$pristine || submitScore.loserName.$pristine">Submit match ></button>
				</form>
			</div>
		</div>
	</div>
</div>