<div class="player-stats row clearfix" ng-init="init()">
	<h2>All Player Stats</h2>
	<div>
		<form>
			<label for=""><input type="radio" ng-model="filter" value="allTime">All time</label>
			<label for=""><input type="radio" ng-model="filter" value="monthly">Monthly</label>
			<label for=""><input type="radio" ng-model="filter" value="weekly">Weekly</label>
		</form>
	</div>
	<section class="all-stats wgrid-12of12 wgrid-4of4 wgrid-8of8">
		<table ts-wrapper>
			<thead>
				<th class="name" ts-criteria="name" ts-default>Player</th>
				<th class="games" ts-criteria="gameCount">Total Games</th>
				<th class="wins" ts-criteria="wins">Wins</th>
				<th class="losses" ts-criteria="losses">Losses</th>
				<th class="win-rate" ts-criteria="winRate">Win Rate</th>
				<th class="rank" ts-criteria="rank">All-time Rank</th>
				<th class="compare-check">Compare</th>
			</thead>
			<tr ng-repeat="player in displayedStats" ts-repeat>
				<td class="name">
					<a href="#/user/{{player.userId}}" class="profile-img-name">
						<img ng-src="{{player.avatarUrl}}"/>
						<span>{{player.name | shortFullName}}</span>
					</a>
				</td>
				<td class="games">{{player.gameCount}}</td>
				<td class="wins">{{player.wins}}</td>
				<td class="losses">{{player.losses}}</td>
				<td class="win-rate">{{player.winRate | winRate}}</td>
				<td class="rank">{{player.rank}}</td>
				<td class="compare-check">
					<input name="compareSelected[]" value="{{player.userId}}" ng-checked="selectedUsers.indexOf(player.userId) > -1" 
						ng-click="toggleCompareSelection(player.userId)" type="checkbox">
				</td>
			</tr>
		</table>
	</section>	
</div>