<div class="player-stats row clearfix" ng-init="init()">
	<h2>All Player Stats</h2>
	<div>
		<form>
			<label for=""><input type="radio" ng-model="filter" value="allTime">All time</label>
			<label for=""><input type="radio" ng-model="filter" value="monthly">Monthly</label>
			<label for=""><input type="radio" ng-model="filter" value="weekly">Weekly</label>
		</form>
	</div>
	<section class="all-stats wgrid-12of12 wgrid-4of4 wgrid-8of8">
		<table>
			<thead>
				<th class="name">Player</th>
				<th class="games">Total Games</th>
				<th class="wins">Wins</th>
				<th class="losses">Losses</th>
				<th class="win-rate">Win Rate</th>
				<th class="rank">Rank</th>
				<th class="win-rate">Compare</th>
			</thead>
			<tr ng-repeat="player in allUserStats">
				<td class="name"><a href="#/user/{{player.userId}}"><image src="{{player.avatarUrl}}"/><span>{{player.name | shortFullName}}</span></a></td>
				<td class="games">{{player.gameCount}}</td>
				<td class="wins">{{player.wins}}</td>
				<td class="losses">{{player.losses}}</td>
				<td class="win-rate">{{player.winRate}}</td>
				<td class="rank">{{player.rank}}</td>
				<td class="compare-check"><input name="checkbox_name" id="checkbox_id" type="checkbox"></td>
			</tr>
		</table>
	</section>	
</div>