<div class="profile row clearfix" ng-init="init()">
	<div class="row">
		<div class="back-link wgrid-12of12">
			<a class="link" href="#/player-stats">&#8249; Back to <span>All Player Stats</span></a>
		</div>
	</div>
	<div class="row">
		<div class="profile-stats wgrid-4of12">
			<div class="row">
				<div class="avatar">
					<img src="{{stats.avatarUrl}}" alt="profile-pic"/>
				</div>
				<p class="name">{{stats.name}}</p>
				<p class="player-since">Player since {{stats.playerSince | ogDate}}</p>
				<p class="player-rank uppercase">Ranking: {{stats.rank}}</p>
			</div>
			<div class="row split clearfix uppercase">
				<div class="block top left">
					<p class="number">{{stats.wins}}</p>
					<p class="bottom-text">Total wins</p>
				</div>
				<div class="block top right">
					<p class="number">{{stats.losses}}</p>
					<p class="bottom-text">Total losses</p>
				</div>
			</div>
			<div class="row split bottom-row clearfix uppercase">
				<div class="block bottom left">
					<p class="number small">{{stats.avgPointsPerGame | realNumber}}</p>
					<p class="bottom-text">Avg PPG</p>
				</div>
				<div class="block bottom right">
					<p class="number small">{{stats.winRate | winRate}}</p>
					<p class="bottom-text">Win Rate</p>
				</div>
			</div>
			<div class="stat streak win-streak clearfix uppercase">
				<div class="streak-left">
					<span class="arrow"></span>
				</div>
				<div class="streak-right">
					<h4>Longest winning streak</h4>
					<p><span>{{stats.longestWinningStreak}}</span> Games</p>
				</div>
			</div>
			<div class="stat streak losing-streak clearfix uppercase bottom-streak">
				<div class="streak-left">
					<span class="arrow"></span>
				</div>
				<div class="streak-right">
					<h4>Most consecutive losses</h4>
					<p><span>{{stats.longestLosingStreak}}</span> Games</p>
				</div>
			</div>
		</div>
		<div class="wgrid-8of12">
			<div class="row weekly-stats">
				<section class="section">
					<div class="section-header">
						<h3>Weekly Stats</h3>
					</div>
				</section>
				<table>
					<tr>
						<td><p class="stat-number">{{stats.weeklyGameCount}}</p><p class="stat-title">Games</p></td>
						<td><p class="stat-number">{{stats.weeklyWins}}</p><p class="stat-title">Wins</p></td>
						<td><p class="stat-number">{{stats.weeklyLosses}}</p><p class="stat-title">Losses</p></td>
						<td><p class="stat-number">{{stats.weeklyWinRate | winRate}}</p><p class="stat-title">Win Rate</p></td>
					</tr>
				</table>
			</div>
			<div class="row game-history">
				<section class="section">
					<div class="section-header">
						<h3>Game History</h3>
					</div>
					<ul>
						<li ng-repeat="game in gameHistory">
							<div class="recent-game clearfix">
								<div class="game-info">
									<p>{{game.date | smartDate}}</p>
									<p><span class="winner-name"><a href="#/user/{{game.winnerUserId}}">{{game.winnerName | shortFullName}}</a></span> won against <span class="loser-name"><a href="#/user/{{game.loserUserId}}">{{game.loserName | shortFullName}}</a></span></p>
								</div>
								<div class="game-score">
									<span>{{game.winnerScore}} - {{game.loserScore}}</span>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>