<div class="profile row clearfix" ng-init="init()">
	<div class="row">
		<a href="#/player-stats">Back to <span>All Player Stats</span></a>
	</div>
	<div class="row">
		<div class="profile-stats wgrid-4of12  marg-l-0">
			<div class="row">
				<img src="{{stats.avatarUrl}}" alt="profile-pic"/>
				<p>{{stats.name}}</p>
				<p>{{stats.playerSince | smartDate}}</p>
				<p>Ranking: {{stats.rank}}</p>
			</div>
			<div class="row">
				<div>
					<span class="total-games">{{stats.gameCount}} Total games played</span>
					<span class="total-wins">{{stats.wins}} Total wins</span>	
				</div>
				<div>
					<span class="total-losses">{{stats.losses}} Total losses</span>	
					<span class="win-rate">{{stats.winRate}} Total losses</span>	
				</div>
			</div>
			<div class="row">
				<h4>Longest winning streak: <span>{{stats.longestWinningStreak}}</span></h4>	
				<h4>Most consecutive losses: <span>{{stats.longestLosingStreak}}</span></h4>
			</div>
			<div class="row">
				<button>Compare</button>
			</div>
		</div>
		<div class="wgrid-8of12 marg-r-0">
			<div class="row weekly-stats">
				<section>
					<div class="section-header">
						<h3>Weekly Stats</h3>
					</div>
				</section>
				<table>
					<tr>
						<td>{{stats.weeklyGameCount}}</td>
						<td>{{stats.weeklyWins}}</td>
						<td>{{stats.weeklyLosses}}</td>
						<td>{{stats.weeklyWinRate}}</td>
					</tr>
					<tr>
						<td>Games</td>
						<td>Wins</td>
						<td>Losses</td>
						<td>Win Rate</td>
					</tr>
				</table>
			</div>
			<div class="row game-history">
				<section>
					<div class="section-header">
						<h3>Game History</h3>
					</div>
					<ul>
						<li ng-repeat="game in gameHistory">
							<div class="recent-game clearfix">
								<div class="game-info">
									<p>{{game.date | smartDate}}</p>
									<p><span class="winner-name"><a href="#/api/user/{{game.winnerUserId}}">{{game.winnerName | shortFullName}}</a></span> won against <span class="loser-name"><a href="#/api/user/{{game.loserUserId}}">{{game.loserName | shortFullName}}</a></span></p>
								</div>
								<div class="game-score">
									<span>{{game.winnerScore}} - {{game.loserScore}}</span>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>