<section>
	<h2>Input game results</h2>
	<ul>
		<li ng-repeat="user in team">
			<span>{{user.name}}</span>
		</li>
	</ul>
	<div class="container">
		<form ng->
			<div class="half winner">
				<h3>Winner</h3>
				<div>
					<img ng-src="{{winner.avatarUrl}}"/>				
				</div>
				<select ng-model="winner" ng-options="user.name for user in team" ng-init="form.type=typeOptions[0].value">
					<option style="display:none" value="0">Select a Player</option>
				</select>
				<span class="player-score">{{winningScore}}</span>
				<span>{{winner.mentionName}}</span>
			</div>
			<div class="half loser">
				<h3>Loser</h3>
				<div>
					<img ng-src="{{loser.avatarUrl}}"/>
				</div>				
				<select ng-model="loser" ng-options="user.name for user in team" ng-init="form.type=typeOptions[0].value">
					<option style="display:none" value="0">Select a Player</option>
				</select>
				<input class="player-score" ng-model="loser.score" type="number" name="loserName"/>
				<span>{{winner.mentionName}}</span>
			</div>	
		</form>
		
	</div>
	<button ng-click="submitScore()">Enter Score</button>
</section>