@import "nav"

body
	background-color $body-bg-grey
	
.content-wrapper
	margin 0 auto
	width: 100%
	
	@import "dashboard"
	@import "profile"
	@import "playerStats"
	@import "gameHistory"
	@import "inputScore"

	.back-link
		height 55px
		padding 20px 0
		.link
			font-family Regular
			font-size 16px
			color $font-dark-blue
			text-align left
			span
				font-family Bold
	.section
		border 1px solid $white
		background-color $section-bg-white
		.section-header
			background-color $header-bg-grey