.dashboard
	width 100%
	margin 0 auto
	
	.most-recent-game
		margin-top 20px
		height 200px
		padding 20px 0
		background url("/assets/img/dashboard-bg.png") no-repeat center top
		background-size cover
		color $white
		section
			float none
			margin 0 auto	
			h4
				font-size 24px
				
			.time-score
				.time-regular
					margin 10px 0 20px 0
				.score-large
					span
						color $accent-red
			
			img 
				border solid 5px $white
				width 125px
				height 125px
				border-radius 50%
			.winner
				img
					border-color $accent-red
				color $accent-red
			
			.winner, .time-score, .loser
				float left
				text-align center
			
			.winner, .loser
				width 30%
			
			.time-score
				width 40%
	.dashboard-breakdown
		section
			border 1px solid $white
			background-color $section-bg-white
			.section-header
				
				h3 
					position relative
					.arrow
						color $accent-red
						position absolute
						right 5px
						top -2px
						content "&#10140;"
						font-size 20px

		.left-column, .right-column
			margin-top 20px
			
		.elo-ranking, .recent-games
			height 270px
		
		.weekly-standings
			height 190px
			
		.random-stats
			height 480px
			.stat
				text-align center
				height 100px
				padding-top 25px
				h4
					font-size 14px
				border-bottom 1px solid $header-bg-grey
				
				&.total-games-played
					border-bottom none
			.sweeping-score
				padding-top 20px
				height 145px
				p
					&.players
						font-size 22px
			.total-games-played
				padding-top 10px
		.elo-ranking
			ol
				counter-reset:li
				li
					position relative
					height 47px
					padding 12px 0 0 80px
					list-style none
					border-bottom 1px solid $header-bg-grey
					&:before
						position absolute
						top 11px
						left 20px
						content counter(li)
						counter-increment:li
						font-size 22px
					&:last-child
						border-bottom none
					
		.recent-games
			ul li
				border-bottom 1px solid $header-bg-grey
				&:last-child
					border-bottom none
				.recent-game
					height 58px
					padding 15px 10px 15px 15px
					.game-info, .game-score
						float left
						padding 5
					.game-info
						width 80%
					.game-score
						width 20%
		.weekly-standings
			margin-top 20px
			margin-bottom 50px
			table
				width 100%
				thead
					th
						padding 10px 10px 8px 15px
				tr
					&:last-child td
						border-bottom none
					td
						height 38.75px
						border-bottom 1px solid $header-bg-grey
						&:first-child
							padding-left 15px
				