
.player-stats
	margin 0 auto
	
	.top-row
		height 93px
		padding 26px 0
		postion relative
		@import "compareOverlay"
		form
			label
				display block
				padding 13px 12px
				position relative
				height 45px
				border 1px solid $font-dark-blue
				input[type=radio]
					position absolute
					right 14px
					top 14px
		
	.all-stats
		margin-bottom 20px
		table
			background-color $white
			width 100%
			height 600px
			
			.name
				width 	26.5%
			.games
				width 	12.5%
			.wins
				width 	9.5%
			.losses
				width 	9.5%
			.win-rate
				width 	10%
			.rank
				width 	16%
			.compare-check
				width 	16%
				
				
			thead
				background-color $header-bg-grey
				th
					height 37px
					text-align center
					&:first-child
						text-align left
						padding-left 20px

					.tablesort-sortable
						-webkit-user-select none
					    -khtml-user-select none
					    -moz-user-select none
					    -o-user-select none
					    user-select none
					    cursor pointer
			tr
				&:last-child td
					border-bottom none
				td
					height 96px
					vertical-align middle
					border-bottom 1px solid $header-bg-grey
					text-align center
					&:first-child, &:last-child
						text-align left
						border-bottom none;
					.name-bump, .checkbox-container
						display block
						padding-top 15px
						margin-left 17px
						margin-bottom -1%
						height inherit
						border-bottom 1px solid $header-bg-grey
					.checkbox-container
						margin-left 0%
						margin-right 17px
					
					img 
						display block
						border-radius 50%
					span
						display block
						vertical-align middle
						
					.checkbox-container
						position relative
						label
							display block
							width 100%
							height 100%
							cursor pointer
						input[type="checkbox"]
							position absolute
							opacity 0
							top 0
							left 0
						input[type="checkbox"] + label
							background url("/assets/img/checkbox-uncheck.png") no-repeat
							background-position-x 66px
							background-position-y 18px

						input[type="checkbox"]:checked + label
							background url("/assets/img/checkbox-check.png") no-repeat
							background-position-x 66px
							background-position-y 18px

	.profile-img-name
		img 
			max-height 55px
			width 55px
			float left
		span
			padding-top: 20px 
			padding-left 75px

	.showIfLast 
		display none

	.showIfLast:last-child
		display table-row

	.showIfLast td 
		text-align center

	.showIfLast td:after
		content "No data"