.profile
	
	width 100%
	margin 0 auto
	
	section
		border 1px solid $white
		background-color $section-bg-white
		
		div
			padding 10px
		
		.section-header
			background-color $header-bg-grey
			h3 
				font-size 14px
					
	.game-history
		ul li
			border-bottom 1px solid $header-bg-grey
			.recent-game
				height inherit
				.game-info, .game-score
					float left
					padding 0
				.game-info
					width 80%
					.winner-name
						color $accent-red
					.loser-name
						color $font-dark-blue
				.game-score
					width 20%
					span
						font-size 22px
						color $font-dark-blue
	.profile-stats
		color $accent-red