$nav-bg-blue		= #374046

$body-bg-grey		= #e5e5e5

$accent-red 		= #d4411d
$accent-grey		= #aaaaaa
$accent-dark-grey	= #5c4e51

$header-bg-grey		= #dddfe1
$header-font-black	= #4e3e41

$white				= #ffe8e5

$section-bg-white	= #f3f3f3


$white		= #ffffff